<?xml version='1.0' encoding='UTF-8'?>
<hudson>
<useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:ds4d-technical-admin</permission>
    <permission>hudson.model.Computer.Connect:ds4d-technical-admin</permission>
    <permission>hudson.model.Computer.Create:ds4d-technical-admin</permission>
    <permission>hudson.model.Computer.Delete:ds4d-technical-admin</permission>
    <permission>hudson.model.Computer.Disconnect:ds4d-technical-admin</permission>
    <permission>hudson.model.Hudson.Administer:ds4d-technical-admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:ds4d-technical-admin</permission>
    <permission>hudson.model.Hudson.Read:ds4d-technical-admin</permission>
    <permission>hudson.model.Hudson.RunScripts:ds4d-technical-admin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Build:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Cancel:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Configure:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Create:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Delete:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Discover:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Read:ds4d-technical-admin</permission>
    <permission>hudson.model.Item.Workspace:ds4d-technical-admin</permission>
    <permission>hudson.model.Run.Delete:ds4d-technical-admin</permission>
    <permission>hudson.model.Run.Update:ds4d-technical-admin</permission>
    <permission>hudson.model.View.Configure:ds4d-technical-admin</permission>
    <permission>hudson.model.View.Create:ds4d-technical-admin</permission>
    <permission>hudson.model.View.Delete:ds4d-technical-admin</permission>
    <permission>hudson.model.View.Read:ds4d-technical-admin</permission>
    <permission>hudson.scm.SCM.Tag:ds4d-technical-admin</permission>
    <permission>hudson.model.Computer.Configure:user1</permission>
    <permission>hudson.model.Computer.Connect:user1</permission>
    <permission>hudson.model.Computer.Create:user1</permission>
    <permission>hudson.model.Computer.Delete:user1</permission>
    <permission>hudson.model.Computer.Disconnect:user1</permission>
    <permission>hudson.model.Hudson.Administer:user1</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:user1</permission>
    <permission>hudson.model.Hudson.Read:user1</permission>
    <permission>hudson.model.Hudson.RunScripts:user1</permission>
    <permission>hudson.model.Hudson.UploadPlugins:user1</permission>
    <permission>hudson.model.Item.Build:user1</permission>
    <permission>hudson.model.Item.Cancel:user1</permission>
    <permission>hudson.model.Item.Configure:user1</permission>
    <permission>hudson.model.Item.Create:user1</permission>
    <permission>hudson.model.Item.Delete:user1</permission>
    <permission>hudson.model.Item.Discover:user1</permission>
    <permission>hudson.model.Item.Read:user1</permission>
    <permission>hudson.model.Item.Workspace:user1</permission>
    <permission>hudson.model.Run.Delete:user1</permission>
    <permission>hudson.model.Run.Update:user1</permission>
    <permission>hudson.model.View.Configure:user1</permission>
    <permission>hudson.model.View.Create:user1</permission>
    <permission>hudson.model.View.Delete:user1</permission>
    <permission>hudson.model.View.Read:user1</permission>
    <permission>hudson.scm.SCM.Tag:user1</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.LDAPSecurityRealm">
    <server>localhost:389</server>
    <rootDN>dc=sbs,dc=org</rootDN>
    <inhibitInferRootDN>false</inhibitInferRootDN>
    <userSearchBase></userSearchBase>
    <userSearch>uid={0}</userSearch>
    <managerDN>cn=sbs-read,ou=system,dc=sbs,dc=org</managerDN>
    <managerPassword>sbs123</managerPassword>
  </securityRealm>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>